* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: url(../images/bactes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background: #c0c0c0;
  border-radius: 3vw;
  flex-wrap: nowrap;
}
a:hover {
  text-decoration: underline;
  color: #0937de;
  background-color: black;
}
/* #active {
  background-color: black;
  transition: 0.5s;
} */

ul li {
  font-weight: bolder;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.link {
  display: block;
  border: 0.2vw solid;
  border-radius: 1vw;
  padding: 0.5vw 2vw;
  margin: 0.6vw;
  text-decoration: none;
}

.Logo {
  position: absolute;
  left: 3vw;
  top: 0.5vw;
  font-family: fantasy;
  font-size: 2.5vw;
  text-decoration: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* border: 1px solid; */
  width: 100%;
  background: #c0c0c0;
  /* background-size: 3em; */
  /* border-radius: 2em; */
  text-align: center;
  font-size: 2.5vw;
}
#footer {
  padding: 0 0 0 55vw;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  font-size: 1.5vw;
  font-family: cursive;
  text-decoration: underline;
  color: rgb(39, 39, 39);
}
.table {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
}
table {
  padding-top: 3vw;
  padding-left: 20vw;
}
th,
td {
  border: 0.15vw solid black;
  border-collapse: collapse;
  padding: 1vw;
}
td {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
